@media (max-width: 1200px) {

    .container {
        width: 80%;
    }

    .header {
        &__logo {
            width: 240px;
            img {
                width: 100%;
            }
        }

        &__phone {
            font-size: 17px;
        }

        .button {
            width: 145px;
        }
    }

    .promo {
        height: 500px;

        &__header {
            font-size: 38px;
            line-height: 38px;
        }

        &__subheader {
            margin-top: 14px;
            font-size: 22px;
            line-height: 22px;
        }

        &__icons {
            margin-top: 55px;
            width: 415px;
        }

        &__icon {
            img {
                width: 40px;
            }
        }

        .button {
            &_main {
                font-size: 15px;
                width: 270px;
                height: 50px;
            }
        }

        &__link {
            font-size: 15px;
        }
    }

    .advantage {
        padding-bottom: 50px;

        &__descr {
            font-size: 13px;
        }

        .title {
            font-size: 29px;
        }
    }

}

@media (max-width: 991px) {

    .header {
        &__logo {
            width: 200px;
            img {
                width: 100%;
            }
        }

        &__official {
            span {
                font-size: 17px;
            }
        }

        &__phone {
            font-size: 12px;
        }

        .button {
            height: 27px;
        }
    }

    .promo { 

        &__header {
            font-size: 30px;
            line-height: 30px;
        }

        &__subheader {
            margin-top: 14px;
            font-size: 22px;
            line-height: 22px;
        }

        &__icons {
            margin-top: 55px;
            width: 415px;
        }

        &__icon {
            img {
                width: 40px;
            }
        }

        .button {
            &_main {
                font-size: 15px;
                width: 270px;
                height: 50px;
            }
        }

        &__link {
            font-size: 15px;
        }
    }

    .advantage {
        padding-bottom: 50px;

        &__icons {
            flex-direction: column;
            align-items: center;
        }

        &__icon {
            min-width: 250px;
        }
        &__subtitle {
            font-size: 22px;
        }

        &__descr {
            font-size: 18px;
        }
    }

    .consultation {
        .title_left {
            font-size: 29px;
            line-height: 42px;
        }
    }

    .carousel {
        &__inner {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        &__content {
            justify-content: space-around;
        }
    }

    .feed {
        &__descr {
            width: 90%;
        }
    }

}

@media (max-width: 767px) {

    .header {

        &__official {
            display: none;
        }

        &__phone {
            font-size: 12px;
        }

        .button {
            height: 27px;
        }
    }

    .promo { 

        &__header {
            font-size: 24px;
            line-height: 24px;
        }

        &__subheader {
            font-size: 18px;
            line-height: 18px;
        }

        .button {
            &_main {
                font-size: 14px;
                width: 250px;
                height: 45px;
            }
        }
    }
    .advantage {

        &__icons {
            flex-direction: column;
            align-items: center;
        }

        &__icon {
            min-width: 250px;
        }
        &__subtitle {
            font-size: 22px;
        }

        &__descr {
            font-size: 18px;
        }
    }

    .consultation {
        .title_left {
            font-size: 20px;
            line-height: 30px;
        }

        &__descr {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .catalog {
        .title {
            font-size: 25px;
        }
        &__tab {
            width: 140px;
            height: 40px;
            font-size: 14px;
            line-height: 37px;
        }

    }

    .feed {
        .title {
            font-size: 25px;
        }
        &__img {
            margin-right: 30px;
            height: 150px;
            width: 150px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__count {
            font-size: 14px;
        }
        &_descr {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .footer {
        &__info {
            width: 360px;
            height: 200px;
            padding: 20px 10px 30px 10px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 18px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 23px;
            }
        }
    }
}

@media (max-width: 575px) {

    .header {
        justify-content: flex-end;
        &__logo {
            display: none;
        }

    }

    .promo { 

        &__header {
            margin-top: 50px;
            font-size: 17px;
            line-height: 17px;
        }

        &__subheader {
            font-size: 12px;
            line-height: 12px;
        }

        &__icon {
            display: none;
        }

        .button {
            &_main {
                margin-top: 200px;
                font-size: 12px;
                width: 240px;
                height: 40px;
            }
        }
    }

    .advantage {
        .title {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__descr {
            font-size: 14px;
        }
    }

    .consultation {
        .title_left {
            font-size: 12px;
            line-height: 18px;
        }

        &__descr {
            font-size: 12px;
            line-height: 17px;
        }

        input {
            width: 260px;
        }

        .button_submit {
            width: 260px;
        } 
    }

    .catalog {
        .title {
            font-size: 25px;
        }
        &__tab {
            font-size: 12px;
            line-height: 35px;
        }

    }

    .feed {
        &__item {
            flex-direction: column;

        }
        &__img {
            margin-right: 0;
        }
        &__descr {
            font-size: 14px;
        }
    }

}

@media (max-width: 425px) {
    .catalog {
        .title {
            font-size: 25px;
        }
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-top: 5px;
            width: 140px;
            height: 40px;
            font-size: 14px;
            line-height: 37px;
        }

    }

    .overlay {
        .modal {
            padding: 20px;
            width: 300px;
            &__subtitle {
                font-size: 16px;
            }
            &__descr {
                font-size: 12px;
            }
        }
        .feed-form {
            width: 100%;
            .button {
                font-size: 14px;
            }
        }
    }


}

@media (max-width: 320px) {
    .catalog {
        .title {
            font-size: 18px;
        }
    }

    .overlay {
        .modal {
            padding: 15px;
            width: 250px;
            &__subtitle {
                font-size: 13px;
            }
        }
    }

}